
  .home-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0;
    height: 140px;
    z-index: 10000;
    transition: all 0.2s ease-in-out;
    text-align: center;
    line-height: 40px;
    background:cyan;


      .header-title{
        display: flex;
        justify-content: center;
      }

      .Title-Subtitle {
          display:flex;
          font-size: 14px;
          text-align: center;
          display:block;
          color: black;
      }
  }


  
  